<launch>

  <group ns="audio">
    
    <node pkg="recognize_speech" type="audio_source_wav_file.py" name="audio1">
      <param name="sink" value="/recognizer/audio" />
  
  

    </node>

  </group>

  <group ns="texting">
    
    <node pkg="recognize_speech" type="recognize_audio_google.py" name="recognizer1">
      <param name="source" value="/recognizer/audio" />
      <param name="sink" value="/recognizer/text1" />
  
  

    </node>

  </group>

 <group ns="understanding">
    
    <node pkg="recognize_speech" type="get_text.py" name="understand1">
      <param name="source" value="/recognizer/text1" />
  
  

    </node>

  </group>




</launch>
